.u-clearfix {
    overflow: auto;
}

.u-inline {
    display: inline;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.u-flex {
    display: flex;
}

.u-flex-grow {
    flex-grow: 1;
}
