.miniGrid-top-bar {
    display: flex;
    flex-direction: row;
    width: 120%;
    align-items: center;
    justify-content: space-between;
    /*background-color: var(--primary);*/
    /* border-bottom: 2px solid var(--black); */
    /* border-radius: 6px 6px 0 0; */
    /* margin: auto; */
    position: relative;
    top: 93dvh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.miniGrid-button {
    background-color: #ffffff;
    color: black;
    border: 2px solid var(--black);
    margin: 4px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    padding: 0px 7px 0px 5px;
    font-family: 'Cascadia Code';
    font-size: 15px;
}

.miniGrid-button > span {
    transform: scale(0.75);
}